form {
  padding: 20px 30px;
  border-radius: 20px;
  @include shadow;

  @media screen and (max-width: $breakup) {
    padding: 10px 20px;
    margin-top: 15px;
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid $textLightGrey;

    @media screen and (max-width: $breakup) {
      margin-bottom: 5px;
    }

    .input-container {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }

    .input-wrapper {
      @include direction-column;
      margin-bottom: 15px;
      width: 100%;

      .label {
        margin-bottom: 5px;
      }

      .dropdown,
      .form-input,
      .date-picker {
        @include input01;
      }
      .error-message {
        color: $textRed;
        font-size: 12px;
        margin-top: 7px;
      }
    }
  }

  .button-wrapper {
    @include center-row;
    margin-top: 20px;

    @media screen and (max-width: $breakup) {
      margin-top: 10px;
    }

    .add-button {
      @include button;
    }
  }
}
