form {
  padding: 20px 30px;
  margin-top: 25px;
  border-radius: 20px;
  @include shadow;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid $textLightGrey;

    .input-container {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }

  .button-wrapper {
    @include center-row;
    margin-top: 20px;

    button {
      @include button;
    }
  }
}
