.home-text {
  margin-top: 40px;
  text-align: center;
  color: $textGreen;
}

.home-image {
  width: 630px;
  border-radius: 20px;
  margin-top: 50px;

  @media screen and (max-width: $breakup) {
    width: 310px;
  }
}
