/***************************Setting colors***************************/
$white: #ffffff;
$black: #000000;
$grey: #a9a8a8;
$boxShadowGrey: #cccccc;
//text
$textBlack: #151414;
$textLightGrey: #e8e8e8;
$textGrey: #9b9eac;
$textDarkGrey: #74798c;
$textRed: #ff0101;
$textLightBlack: #20253a;
$textBlack: #282d30;
$textGreen: #028d17;
$textdarkGreen: #01420b;
$textlightGreen: #71cb7f;
//background
$backgroundWhite: #fffefe;
$backgroundLightGrey: #fffefe;
$backgroundGreen: #3a8545;
$backgroundlightGreen: #72d683;
