/****************************setting fonts***************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@400;500&display=swap");

/**************************setting text***************************/

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  font-weight: 500;
  color: $textBlack;
}

.nav-link {
  font-size: 17px;
  font-weight: 500;
  color: $white;
}
